
<div class="page-header">
  <h2><%=h @user.full_name %></h2>
</div>
<% if @statuses %>
    <% @statuses.each do |status| %>
        <div class="well">
          <%=h status.content %>
          <hr/>
          <%=h link_to time_ago_in_words(status.created_at), status_path(status) %> ago
        </div>
    <% end %>
<% end %>